<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- content css -->
<link rel="stylesheet" th:href="@{/library/bootstrap-5.2.3-dist/css/bootstrap.css}">
<block layout:fragment="css"></block>
<!-- content script -->
<script type="text/javascript" th:src="@{/js/common/jquery-3.6.1.min.js}"></script>
<script type="text/javascript" th:src="@{/library/bootstrap-5.2.3-dist/js/bootstrap.bundle.js}"></script>
<block layout:fragment="script"></block>

<body class="text-bg-dark">
    <!-- header fragment 사용 -->
    <th:block th:replace="~{fragments/common-header :: common_header}"></th:block>
    <!-- content fragment 사용 -->
    <main class="container-md px-md-5">
        <th:block layout:fragment="content"></th:block>
    </main>
    <!-- footer fragment 사용 -->
    <th:block th:replace="~{fragments/common-footer :: common_footer}"></th:block>
    </body>
</html>