<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8"/>

<!-- content css -->
<link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">
<th:block layout:fragment="css"></th:block>
<!-- content script -->
<script type="text/javascript" th:src="@{/node_modules/jquery/dist/jquery.slim.js}"></script>
<script type="text/javascript" th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
<th:block layout:fragment="script"></th:block>

<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/common_header :: common_header"></th:block>
    <!-- content fragment 사용 -->
    <main class="">
        <th:block layout:fragment="content"></th:block>
    </main>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/common_footer :: common_footer"></th:block>
    </body>
</html>