<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}" lang="kr">

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/util/drag-up-loader.css}">
</th:block>
<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/util/drag-up-loader.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <form th:action method="post" enctype="multipart/form-data">
        <div class="container">
            <div>
                <label>
                    <p>문제</p>
                    <input type="text" name="question" id="question">
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <label>선택지 A</label>
                    <div th:class="content"></div>
                </div>
                <div class="col">
                    <label>선택지 B</label>
                    <div th:class="content"></div>
                </div>
            </div>
            <label>정답</label>
            <div class="row">
                <div class="col">
                    <label th:class="section"><input type="radio" name="answer" th:value="A" checked>A</label>
                </div>
                <div class="col">
                    <label><input type="radio" name="answer" th:value="B" >B</label>
                </div>
            </div>
            <div>
                <label>해설</label>
                <input type="text" name="answerComment">
            </div>
        </div>
    </form>
</div>
</html>
