<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}" lang="kr">

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/util/drag-up-loader.css}">
</th:block>
<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/util/drag-up-loader.js}"></script>
</th:block>
<!-- Content -->
<div layout:fragment="content">
    <form action method="post" enctype="multipart/form-data" >

        <div class="m-2">
            <p for="question" class="h5">문제</p>
            <div class="input-group">
                <input type="text" class="form-control" id="question" name="question" aria-describedby="basic-addon3">
            </div>
        </div>

        <div class="container m-2 p-0">
            <div class="row gx-5">
                <div class="col">
                    <label>선택지 A</label>
                    <input type="file" class="" accept="image/*">
                </div>
                <div class="col">
                    <label>선택지 B</label>
                    <input type="file" class="" accept="image/*">
                </div>
            </div>
        </div>

        <div class="container m-2 p-0">
            <p class="h5">정답</p>
            <div class="row gx-5">
                <div class="col">
                    <label><input type="radio" name="answer" th:value="A" checked>A</label>
                </div>
                <div class="col">
                    <label><input type="radio" name="answer" th:value="B">B</label>
                </div>
            </div>
        </div>

        <div class="m-2">
            <p class="h5">해설</p>
            <textarea class="form-control" name="answerComment"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>
</html>